*.iml
.gradle
local.properties
.idea/
.DS_Store
build/
app/build/
captures
.externalNativeBuild
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
app/proguard-rules.pro
.idea/misc.xml
app/src/test/
app/src/androidTest/
.gitignore
